/*---------------------------------------------------------
	BODY & COMMONS
---------------------------------------------------------*/

body {
	margin: 20px;
	line-height: 1.5;
	background: #222;
}

p {
	text-align: justify;
}

img {
	max-width: auto;
}

.strong {
	font-weight: bold;
}

/*---------------------------------------------------------
	HEADINGS 
---------------------------------------------------------*/

h1 {
	color: #fff;
}

h3.org-title {
	font-size: 22px !important;
}

h4 {
	margin-bottom: 10px !important;
}

.panel h2, h4 {
	color: #289cbf !important;	
}

/*---------------------------------------------------------
	SEARCH BAR
---------------------------------------------------------*/

#search-wrapper {
	width: 100%;
	margin-bottom: 2px;
}

#search-left {
	width: 80%;
	float: left;
}

#search-right {
	margin-left: 80%; /* Change this to whatever the width of the left column is*/
}

.clear {
      clear: both;
 }

input#term {
	padding-left: 20px;
	border-top-left-radius:  5px;
	border-bottom-left-radius: 5px;
    border: 0;
    height: 40px;
}

button#search {
    height: 40px;
 	border-top-right-radius:  5px;
	border-bottom-right-radius: 5px;
 	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
}

/*---------------------------------------------------------
	STRUCTURE
---------------------------------------------------------*/

.wrapper {
	border-radius: 5px;
}

.poster {
	border-radius: 5px;
}

div.info {
	display: inline;
	margin-right: 7px;
}

.footer {
	text-align: center;
	margin-top: 20px;
	font-size: 13px;
	color: #eee;
}

.embiggering {
	font-size: 15px;
}

/*---------------------------------------------------------
	RATING TABLE
---------------------------------------------------------*/

table {
	border: 0;
	margin: 0;
}

.table-wrapper {
	margin-top: 20px;
	width: 100%;
}

.rating a{
	color: red;
	font-weight: bold;
}

.center {
	text-align: center;
}

/*---------------------------------------------------------
	BUTTONS
---------------------------------------------------------*/

.buttons-wrapper {
	display: inline;
}

.button {
	float: left;
	background: #289cbf;
	color: #fff;
	width: 130px;
	padding: 12px;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-right: 10px;
}

.read-more, .trailer {
	margin-top: 15px;
}

/*---------------------------------------------------------
	MEDIA QUERIES
---------------------------------------------------------*/

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) { 
	
	.logo {
	  width: 100%;
	}

	.buttons-wrapper {
		text-align: center;
	}

	.button {
		width: 100%;
	}

	h2 {
		margin-top: 20px;
	}
}
