body {
	margin: 20px;
	line-height: 1.5;
	background: #222;
}

#wrapper {
	border: 1px solid #333;
	border-radius: 5px;
}

p {
	text-align: justify;
}

#footer {
	text-align: center;
	margin-top: 20px;
	font-size: 13px;
	color: #eee;
}

h1 {
	color: #fff;
}

#table-wrapper {
	margin-top: 20px;
	width: 100%;
}

.rating {
	color: red;
	font-weight: bold;
	text-align: center;
}

.center {
	text-align: center;
}

.panel {

}

/*---------------------------------------------------------
	SEARCH BAR
---------------------------------------------------------*/

#search-wrapper {
	width: 100%;
	margin-bottom: 2px;
}

#search-left {
	width: 80%;
	float: left;
}

#search-right {
	margin-left: 80%; /* Change this to whatever the width of the left column is*/
}

.clear {
      clear: both;
 }

input#term {
	padding-left: 20px;
	border-top-left-radius:  5px;
	border-bottom-left-radius: 5px;
    border: 0;
    height: 40px;
}

button#search {
	padding: 0;
    height: 40px;
 	border-top-right-radius:  5px;
	border-bottom-right-radius: 5px;
 	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
}

 /*---------------------------------------------------------
	BUTTONS
---------------------------------------------------------*/

.button {
	background: #2ba6cb;
	color: #fff;
	width: 20%;
	padding: 12px;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 20px;
}


/*---------------------------------------------------------
	MEDIA QUERIES
---------------------------------------------------------*/

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) { 
	#logo {
	  width: 100%;
	}
} 


